.Main-head
{
	font-family: ubuntu-n5, sans-serif;
}

.Head
{
	font-family: rochester-n4, cursive;
}

.Main,.Sign
{
	font-family: ubuntu-n3, sans-serif;
}

.Clothing
{
	font-family: ubuntu-n4, sans-serif;
}

.Pattern
{
	font-family: ubuntu-i3, sans-serif;
}

#u3397-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u3430-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u7489-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u3408-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u3436-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14293-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14291-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14290-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14136-4
{
	font-family: ubuntu-condensed-n4, sans-serif;
}

#u14592-4:hover p
{
	font-family: ubuntu-n7, sans-serif;
}

#u14592-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u13720-2
{
	font-family: ubuntu-n3, sans-serif;
}

#u13081-2
{
	font-family: ubuntu-n5, sans-serif;
}

