.version.index /* version checker */
{
	color: #000012;
	background-color: #E7FE4A;
}

.html
{
	background: #7F7F7F url("../images/felt1.jpg") repeat left top scroll;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 721px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u19872
{
	z-index: 57;
	width: 149px;
	margin-right: -10000px;
	left: -234px;
}

#ppu14263-3
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 20px;
}

#pu14263-3
{
	width: 0.01px;
}

#u14263-3
{
	z-index: 2;
	width: 960px;
	min-height: 104px;
	margin-right: -10000px;
}

#u7509
{
	z-index: 6;
	width: 370px;
	height: 8px;
	margin-right: -10000px;
	margin-top: 58px;
	left: 568px;
}

#menuu3377
{
	z-index: 7;
	width: 370px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 568px;
}

#u3395
{
	width: 57px;
	min-height: 24px;
	margin-right: -10000px;
}

#u3396
{
	width: 57px;
	padding-bottom: 2px;
}

#u3396:hover
{
	width: 57px;
	min-height: 0px;
	margin: 0px;
}

#u3396.MuseMenuActive
{
	width: 57px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u3397-4
{
	width: 41px;
	min-height: 22px;
	margin-right: -10000px;
	top: 1px;
	left: 8px;
}

#u3396:hover #u3397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3396.MuseMenuActive #u3397-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3426
{
	width: 76px;
	min-height: 24px;
	margin-right: -10000px;
	left: 59px;
}

#u3429
{
	width: 76px;
	padding-bottom: 2px;
}

#u3429:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u3429.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u3430-4
{
	width: 60px;
	min-height: 22px;
	margin-right: -10000px;
	top: 1px;
	left: 8px;
}

#u3429:hover #u3430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u3429.MuseMenuActive #u3430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 60px;
	margin: 0px -10000px 0px 0px;
}

#u7485
{
	width: 61px;
	min-height: 24px;
	margin-right: -10000px;
	left: 137px;
}

#u7486
{
	width: 61px;
	padding-bottom: 2px;
}

#u7486:hover
{
	width: 61px;
	min-height: 0px;
	margin: 0px;
}

#u7486.MuseMenuActive
{
	width: 61px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u7489-4
{
	width: 46px;
	min-height: 22px;
	margin-right: -10000px;
	top: 1px;
	left: 7px;
}

#u7486:hover #u7489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u7486.MuseMenuActive #u7489-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u3402
{
	width: 45px;
	min-height: 24px;
	margin-right: -10000px;
	left: 200px;
}

#u3405
{
	width: 45px;
	padding-bottom: 2px;
}

#u3405:hover
{
	width: 45px;
	min-height: 0px;
	margin: 0px;
}

#u3405.MuseMenuActive
{
	width: 45px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u3408-4
{
	width: 30px;
	min-height: 22px;
	margin-right: -10000px;
	top: 1px;
	left: 7px;
}

#u3405:hover #u3408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 30px;
	margin: 0px -10000px 0px 0px;
}

#u3405.MuseMenuActive #u3408-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 30px;
	margin: 0px -10000px 0px 0px;
}

#u3433
{
	width: 123px;
	min-height: 24px;
	margin-right: -10000px;
	left: 247px;
}

#u3434
{
	width: 123px;
	padding-bottom: 2px;
}

#u3434:hover
{
	width: 123px;
	min-height: 0px;
	margin: 0px;
}

#u3434.MuseMenuActive
{
	width: 123px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u3436-4
{
	width: 108px;
	min-height: 22px;
	margin-right: -10000px;
	top: 1px;
	left: 7px;
}

#u3434:hover #u3436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u3434.MuseMenuActive #u3436-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 108px;
	margin: 0px -10000px 0px 0px;
}

#u13145
{
	z-index: 38;
	width: 357px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 51px;
}

#u13145_img
{
	padding-right: 1px;
}

#pu7612
{
	z-index: 59;
	width: 0.01px;
	position: relative;
	margin-top: 49px;
}

#u7612
{
	z-index: 0;
	width: 960px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.fon
{
	border-style: none;
	border-color: transparent;
	background-color: #EDE6E2;
	opacity: 0.75;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
}

#pu6533-4
{
	width: 0.01px;
	padding-bottom: 43.04999999999973px;
	position: relative;
	left: 22px;
	padding-top: 30px;
	z-index: 2;
}

#u6533-4
{
	z-index: 60;
	width: 839px;
	min-height: 16px;
	background-color: transparent;
	margin-left: 38px;
	position: relative;
}

#u6533-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 839px;
	margin: 0px 0px 0px 38px;
}

#u6533-4:hover p
{
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u6533-2
{
	font-size: 19px;
	text-align: center;
	line-height: 26px;
}

#pu13231
{
	width: 0.01px;
	margin-top: 10px;
}

#u13231
{
	z-index: 65;
	width: 233px;
	height: 311px;
	border-width: 1px;
	border-style: solid;
	border-color: #939495;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/home-1-button-layer%202.png") no-repeat left top;
	background-size: contain;
}

#u13231:hover
{
	width: 233px;
	height: 311px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
	background: transparent url("../images/home-1-button-clothing.png") no-repeat left top;
	background-size: contain;
}

#u13217
{
	z-index: 64;
	width: 373px;
	height: 311px;
	border-width: 1px;
	border-style: solid;
	border-color: #939495;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 271px;
	background: transparent url("../images/home-2-button-layer%202.jpg") no-repeat left top;
	background-size: contain;
}

#u13217:hover
{
	width: 373px;
	height: 311px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
	background: transparent url("../images/home-2-button-shawls.jpg") no-repeat left top;
	background-size: contain;
}

#u13243
{
	z-index: 66;
	width: 233px;
	height: 311px;
	border-width: 1px;
	border-style: solid;
	border-color: #939495;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 682px;
	background: transparent url("../images/home-3-button-layer%203.jpg") no-repeat left top;
	background-size: contain;
}

#u13243:hover
{
	width: 233px;
	height: 311px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
	background: transparent url("../images/home-3-button-toys.jpg") no-repeat left top;
	background-size: contain;
}

#ppu14137
{
	width: 0.01px;
	margin: 650px -10000px -2px 158px;
}

#pu14137
{
	z-index: 5;
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
}

#u14137
{
	z-index: 0;
	width: 644px;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

#pu14293-4
{
	width: 0.01px;
	position: relative;
	left: 60px;
	padding-top: 5px;
	z-index: 2;
	padding-bottom: 5px;
}

#u14293-4
{
	z-index: 53;
	width: 50px;
	min-height: 16px;
	margin-right: -10000px;
}

#u14293-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u14291-4
{
	z-index: 49;
	width: 42px;
	min-height: 16px;
	margin-right: -10000px;
	left: 67px;
}

#u14291-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 42px;
	margin: 0px -10000px 0px 0px;
}

#u14290-4
{
	z-index: 45;
	width: 46px;
	min-height: 16px;
	margin-right: -10000px;
	left: 130px;
}

#u14290-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u14136-4
{
	z-index: 41;
	width: 209px;
	min-height: 17px;
	margin-right: -10000px;
	left: 350px;
}

#u14135
{
	z-index: 40;
	width: 70px;
	height: 72px;
	margin-right: -10000px;
	left: 286px;
}

#u14135:hover
{
	width: 70px;
	height: 72px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u14135.MuseLinkActive
{
	width: 70px;
	height: 72px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

body
{
	position: relative;
	min-width: 960px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -650px;
}

